.page-body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 770px;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
}
.top-info {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 58px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
}
.journey {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
}
.journey:hover {
  color: #01813f;
  transition: 0.3s;
}
.top-container {
  display: flex;
  justify-content: space-between;
  width: 360px;
}
.svg-container {
  display: flex;
  align-items: center;
  width: 145px;
  justify-content: space-between;
}
.svg-container::after {
  display: block;
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  height: 19px;
  opacity: 50%;
}
.welcome {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 14px;
  line-height: 14px;
}
.login {
  text-decoration: none;
  color: #ffffff;
}
.login:hover {
  color: #01813f;
  transition: 0.3s;
}
.svg-img:hover {
  fill: #01813f;
  transition: 0.3s;
}
.main-section {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form-info {
  display: flex;
  padding-top: 29px;
}
.form-text {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #3cb878;
  padding-right: 60px;
  padding-left: 42px;
}
.square {
  width: 18px;
  height: 18px;
  background: #3cb878;
}

.text-sign {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin: 0;
  align-self: center;
}
.text-log {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  align-self: flex-end;
}
.text-log:hover {
  text-decoration: underline;
  cursor: pointer;
}
.social-media {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.social-media-box-facebook {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 17px;
  padding-right: 22px;
}
.social-media-box-facebook:hover {
  background-color: #022263;
  border-radius: 4px;
  transition: 0.3s;
}
.social-media-box-google {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 12px;
  padding-right: 27px;
}
.social-media-box-google:hover {
  background-color: #ab1f09;
  border-radius: 4px;
  transition: 0.3s;
}
.face {
  width: 160px;
  height: 48px;
  background-color: #305db8;
  border-radius: 4px;
}
.face:hover {
  color: #01813f;
  transition: 0.3s;
}
.google {
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  border-radius: 4px;
}

.sm-title-face {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}
.sm-title-face::before {
  display: block;
  content: "";
  border-left: 1px solid #0a162f;
  padding-right: 18px;
  height: 28px;
  margin: 0;
  opacity: 10%;
}
.sm-title-google {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}
.sm-title-google::before {
  display: block;
  content: "";
  border-left: 1px solid #0a162f;
  padding-right: 30px;
  height: 28px;
  margin: 0;
  opacity: 10%;
}
.line-or {
  height: 1px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 20px;
}
.line-or::before {
  content: " or ";
  position: relative;
  top: -10px;
  background-color: white;
  padding: 2px 5px;
  color: #848484;
}
.feedback-form {
  height: 490px;
  width: 324px;
  margin-left: auto;
  margin-right: auto;
}
.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 324px;
  height: 420px;
}
.form-data {
  height: 46px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}
.form-data:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  transition: 0.3s;
}
.form-input {
  font-size: 14px;
  line-height: 14px;
  padding-left: 20px;
}
.form-data::-webkit-input-placeholder {
  color: #bebebe;
  font-family: "Ubuntu", sans-serif;
}

.terms {
  color: rgba(60, 184, 120, 0.8);
  font-family: "Ubuntu", sans-serif;
}
.terms:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #01813f;
  transition: 0.3s;
}
.form-button {
  width: 100%;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  height: 46px;
  border: none;
  margin-bottom: 28px;
  margin-top: 20px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #01813f;
  border: none;
  transition: 0.3s;
}
.terms-conditions {
  position: relative;
}
.checkbox_input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox_label {
  font-family: "Ubuntu", sans-serif;
  color: #434343;
  font-size: 14px;
  line-height: 14px;
  padding-left: 31px;
  cursor: pointer;
}
.checkbox_label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox_label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/cb_1.svg) no-repeat;
  background-size: 20px 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.1s linear;
}
.checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}
