.page-body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  max-width: 1900px;
}
.logo {
  display: flex;
  padding-left: 27px;
}
.menu-logo {
  margin: 22px;
  font-family: sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}
.container {
  margin: 0 auto;
  width: 100%;
}
.menu-list {
  background-color: #313131;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 70px;
}
.blue {
  color: #14b9d5;
}
.top-menu-ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
}
.list-item {
  line-height: 28px;
  font-size: 24px;
  padding-top: 0;
  padding-right: 35px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.menu-item {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.menu-item:hover {
  color: #14b9d5;
}
.magnifier {
  background-color: black;
  padding: 26px;
  display: flex;
}
.banner {
  background-image: url(../images/img/header-background.png);
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 369px;
}
.banner-title {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  padding-top: 164px;
  padding-bottom: 44px;
  margin: 0;
}
.latest-news {
  text-align: center;
  padding-bottom: 44px;
}
.subscribe-button {
  background-color: #89ca62;
  color: #fff;
  padding-top: 44px;
  padding: 19px 27px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 6px;
  width: 170px;
  height: 55px;
}
.Best-articles-button {
  background-color: #14b9d5;
  color: #fff;
  padding: 19px 38px;
  text-decoration: none;
  margin-left: 10px;
  width: 170px;
  height: 55px;

  border-radius: 6px;
}
.popular-posts-section {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 1030px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 52px;
  padding-top: 49px;
  margin-top: 0;
  color: #18b4cf;
}
.popular-posts {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 900px;
  align-content: flex-start;
  align-content: space-around;
}
.posts-types {
  text-align: center;
  width: 370px;
  background-color: #fff;
  align-content: space-between;
  margin-bottom: 20px;
}
.posts-img {
  width: 370px;
}
.posts-image-wrapper {
  display: flex;
  text-decoration: none;
  align-content: space-around;
  width: 370px;
}
.posts-title-wrapper {
  display: inline-block;
  justify-content: center;
}
.posts-title {
  display: inline-block;
  align-content: center;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.posts-title-wrapper {
  vertical-align: middle;
  display: inline-block;
}
.banner-logo {
  background-image: url(../images/img/parallax-bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 588px;
}
.section-popular-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 106px;
  font-size: 32px;
  line-height: 44px;
  font-family: sans-serif;
}
.section-popular-title::after {
  display: block;
  content: "";
  border-bottom: 3px solid #18b4cf;
  width: 60px;
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
}
.clients-logo {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 106px;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}
.logos-img-1 {
  padding-top: 17px;
}
.logos-img-2 {
  padding-top: 7px;
}
.logos-img-3 {
  padding-top: 6px;
}
.logos-img-4 {
  padding-top: 5px;
}
.img-line {
  height: 271px;
}
.top-rated {
  margin: 0;
  padding: 0;
}
.top-rated-line {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.rated-img {
  width: 100%;
}
.hot-news {
  width: 100%;
  min-width: 1280px;
}
.hot-news-list {
  margin-left: 155px;
  margin-right: 155px;
  list-style: none;
  display: grid;
  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 260px 1fr 1fr 260px;
  grid-gap: 60px;
}
.news-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #5b6469;
}
.news-prophecy {
  background-color: #f9f7f7;
  grid-area: item1;
}
.nebula {
  background-color: #f9f7f7;
  grid-area: item2;
}
.western {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item3;
}
.grand {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item4;
}
.wanderlust {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item5;
}
.twin {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item6;
}
.prism {
  text-align: center;
  background-color: #f9f7f7;
  grid-area: item7;
}
.kings {
  background-color: #f9f7f7;
  grid-area: item8;
}
.news-description {
  text-align: right;
  align-self: center;
  padding-right: 24px;
  padding-left: 13px;
}
.news-title {
  color: #353a3d;
}
.prophecy-grid {
  display: grid;
  grid-template-areas: "item9 item10";
}
.kings-grid {
  display: grid;
  grid-template-areas: "item11 item12";
}
.copyright-line {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000000;
  grid-template-rows: 73px;
}
.copyright-text {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
}
.liot-logo {
  padding-top: 7px;
}
.liot {
  text-align: center;
  padding-top: 25px;
}
