.page-body {
  font-family: sans-serif;
}
.menu-type {
  margin-top: 25.5px;
  text-align: center;
  color: #ff0000;
}
.list-item {
  display: inline-block;
}
.menu-type a {
  color: #ff0000;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.menu1 {
  margin-right: 72px;
}
.menu2 {
  margin-right: 50px;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 25.5;
  max-width: 100%;
  height: auto;
}
.section-title {
  text-align: center;
  margin-top: 48px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
}
.first-paragraph {
  margin-top: 115px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: normal;
  margin-left: 67.5px;
  margin-right: 67.5px;
}
.second-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 28px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-left: 67.5px;
  margin-right: 67.5px;
}
.button {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff0000;
  border-radius: 4px;
  padding: 18px 43.5px 17px 42.5px;
}
.page-nav {
  margin-top: 66px;
  text-align: center;
}
.copyright {
  color: #373737;
  font-size: 16px;
  line-height: 20px;
  text-align: end;
  padding: 82px 105px 29px;
}
