.page-body {
  font-family: sans-serif;
}
.banner {
  background-image: url(../img/background\ 1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 780px;
  max-height: 100%;
  color: #fff;
}
.top-info {
  max-width: 1023px;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.links-logo {
  height: 50px;
  width: 140px;
  text-decoration: none;
  color: #fff;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.links-logo:hover {
  color: #f26522;
  border: none;
}
.links-logo:hover .logo-img {
  fill: #f26522;
}
/* .milan-logo:hover .rect {
  fill: #f26522;
}
.milan-logo:hover {
  fill: #f26522;
} */
/* .logo-img:hover {
  fill: #f26522;
} */
.second-container {
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 240px;
  font-size: 18px;
  line-height: 18px;
  align-items: flex-end;
  justify-content: space-between;
}
.email-link {
  text-decoration: none;
  color: #fff;
}
.email-link:hover {
  color: #f26522;
}
.number-link {
  text-decoration: none;
  color: #fff;
}
.number-link:hover {
  color: #f26522;
}
.milan-logo {
  margin: 0;
}
.milan {
  font-size: 29px;
  line-height: 29px;
  margin: 0;
}
.holidays {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.email {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.number {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.tours {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  width: 80%;
  max-width: 1023px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  justify-items: center;
}
.shopping {
  justify-self: flex-start;
  position: relative;
}

.shopping:hover .img-details {
  display: block;
}
.shopping:hover .description {
  color: #f26522;
}
.img-details {
  background-color: #f26522;
  position: absolute;
  bottom: 42px;
  width: 100%;
  max-width: 300px;
  max-height: 55px;
  color: #fff;
  display: none;
}

.filling {
  flex-direction: column;
  display: flex;
  height: 45px;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
}
.filling:after {
  content: ">";
  padding-top: 27px;
  padding-right: 16px;
  padding-left: 16px;
  width: fit-content;
}

.from {
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  padding-top: 7px;
  padding-left: 16px;
}
.money {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-top: 7px;
  padding-left: 16px;
}
.details {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  width: fit-content;
  padding-left: 128px;
  padding-top: 30px;
}
.tours-img {
  position: relative;
}

.Sightseeing {
  position: relative;
}
.Sightseeing:hover .img-details {
  display: block;
}
.Sightseeing:hover .description {
  color: #f26522;
}
.Food {
  justify-self: flex-end;
  position: relative;
}
.Food:hover .img-details {
  display: block;
}
.Food:hover .description {
  color: #f26522;
}
.Bars {
  justify-self: flex-start;
  position: relative;
}
.Bars:hover .img-details {
  display: block;
}
.Bars:hover .description {
  color: #f26522;
}
.Art {
  position: relative;
}
.Art:hover .img-details {
  display: block;
}
.Art:hover .description {
  color: #f26522;
}
.Walking {
  justify-self: flex-end;
  position: relative;
}
.Walking:hover .img-details {
  display: block;
}
.Walking:hover .description {
  color: #f26522;
}
.description {
  padding-top: 20px;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  text-align: center;
}
.img-link {
  text-decoration: none;
  color: #fff;
}
.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  padding-top: 50px;
}
