.body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header-nav {
  min-width: 1200px;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: center;
}
.container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.logo-block {
  padding-top: 26px;
  display: flex;
}
.logo-link {
  text-decoration: none;
  font-weight: 700;
  margin-left: 6px;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding-top: 10px;
}
.h-letter {
  position: relative;
}
.logo-letter {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  bottom: 43px;
  left: 14px;
}
.logo-properties {
  color: #18cfab;
}
.header {
  background-image: url(../img/background/section-1.jpg);
  height: 1012px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-menu-list {
  list-style: none;
  display: flex;
  margin-top: 49.61px;
  position: relative;
}
.list-item {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 25px;
  margin-left: 21px;
  text-decoration: none;
  padding-bottom: 48px;
}
.list-item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.search-img {
  padding-left: 21.09px;
}

.title-text {
  margin-top: 264px;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #18cfab;
  text-align: center;
  font-weight: bold;
}
.title-ham {
  color: #ffffff;
}
.under-title {
  padding-top: 22px;
  font-weight: bold;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.title-slogan {
  font-weight: normal;
  padding-top: 22px;
  font-size: 34px;
  line-height: 1px;
  color: #d4d4d4;
  text-align: center;
}
.header-buttons {
  margin-top: 127px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 243px;
}
.explore-button {
  text-decoration: none;
  background-color: #18cfab;
  padding: 21px 18.7px 16px 17px;
  color: #fff;
  border-radius: 4px;
  margin-right: 13px;
  text-transform: uppercase;
  box-shadow: inset 0 5px 0 0 #fff;
}
.purchase-button {
  text-decoration: none;
  background-color: #00cbf6;
  padding: 21px 10.59px 16px 11.59px;
  color: #fff;
  border-radius: 4px;
  margin-left: 13px;
  text-transform: uppercase;
  box-shadow: inset 0 5px 0 0 #fff;
}
.popular {
  margin-top: 8px;
}
.flex-container {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}
.box {
  text-align: center;
  width: 25%;
  height: 377px;
  background-color: #1c2a33;
}
.flex-container li:nth-child(2n) {
  background-color: #18cfab;
}
.main-content-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #18cfab;
}
.flex-container li:nth-child(2n) > p {
  color: #fff;
}
.hand,
.bulb {
  padding-top: 87px;
}
.diamond,
.devices {
  padding-top: 109px;
}
.services {
  margin-top: 85px;
}
.services-text {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
}
.first-services-line {
  width: 79px;
  height: 1px;
  background-color: #18cfab;
  border: none;
  margin-top: 24px;
}
.second-services-line {
  width: 79px;
  height: 1px;
  background-color: #18cfab;
  border: none;
  margin-left: 49%;
  margin-top: 3px;
  margin-bottom: 69px;
}
.tabs,
.tabs-content {
  list-style: none;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 84px;
}
.tabs {
  display: flex;
  padding: 0;
  margin: 0;
}
.tabs-title {
  width: 195px;
  height: 72px;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
}
.tabs-title:hover {
  border-color: #18cfab;
}
.tabs-title.active {
  background-color: #18cfab;
  color: #fff;
  position: relative;
}
.tabs-title::after {
  content: "";
  position: absolute;
  left: 84px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
}
.tabs-content li {
  display: none;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  width: 1160px;
  height: 139px;
}
.tabs-content li.active {
  display: block;
  padding-inline-start: 0;
}
.purchase {
  background-image: url(../img/background/Layer\ 21.png);
  height: 476px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.purchase-slogan {
  margin: 0;
  padding-top: 126.78px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.purchase-text {
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-bottom: 67px;
}
.amazing-work {
  background: #e9edef;
}
.amazing-text {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin: 0;
  padding-top: 95px;
}
.work-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 71px;
}
.work-title {
  padding: 14px 15px 13px 15px;
  background-color: rgba(0, 0, 0, 0.0001);
  color: #717171;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadada;
}
.work-title.active {
  border: 1px solid #18cfab;
  position: relative;
  color: #18cfab;
}
.work-title:hover {
  border: 1px solid #18cfab;
  color: #18cfab;
}
.work-content {
  width: 1140px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;

  padding-bottom: 70px;
}
.hide {
  display: none;
}
.filter {
  display: none;
}
.work-img {
  transition: ease 0.6s;
}
.work-card {
  flex-direction: column;
  position: relative;
}
.work-card-wrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 80%;
  opacity: 0;
  border-top: 3px solid #18cfab;
  transition: ease 0.5s;
  top: 0;
  padding-top: 40px;
}
.work-card p {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
  margin: 5px;
}
.work-card:hover .work-img {
  opacity: 0;
}
.work-card:hover .work-card-wrapper {
  opacity: 100;
}
.work-card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 23px;
}

.work-card-link {
  text-decoration: none;
}
.load-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 99px;
}
.plus-icon {
  margin-right: 14px;
}
.load-more-wrapper .explore-button {
  box-shadow: inset 0 0 0 0;
}
.news-content {
  width: 1160px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.news-post {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #777777;
  position: relative;
  padding-bottom: 34px;
}
.news-post:hover .post-date {
  background: #18cfab;
}
.news-post:hover .post-title {
  color: #18cfab;
}
.post-description {
  width: 260px;
}
.post-title {
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  font-weight: 700;
}
.post-author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.post-author-name {
  padding-right: 10px;
}
.author-line {
  width: 1px;
  height: 15px;
  background: #777777;
}
.comment-count {
  padding-left: 10px;
}
.post-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 22%;
  background: #203e38;
  position: absolute;
  top: 0;
  right: 0;
}
.cover-date {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.slider-section {
  background: url(../img/background/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-section .amazing-text {
  color: #fff;
}

.quotes-icon {
  display: block;
  margin: 0 auto;
}

.section-title-white {
  color: #fff;
}

.carousel-content {
  overflow: hidden;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.slide-content {
  display: flex;
  transition: ease-in-out 0.5s;
  transform: translate(0px);
}

.slide {
  min-width: 1160px;
}

.slide-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  text-align: center;
  padding: 36px 0;
}

.client-name,
.client-status {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
}

.client-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
}

.client-status {
  padding-bottom: 38px;
}

.client-slide-image {
  border-radius: 50%;
  border: 10px solid rgba(31, 218, 181, 0.2);
  display: block;
  margin: 0 auto;
}

.client-image {
  border-radius: 50%;
  border: 5px solid rgba(31, 218, 181, 0.2);
  margin: 0 8px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.client-image.active {
  transform: translateY(-10px);
}

.carousel-navigation {
  padding-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
}

.button-back {
  padding: 8px 12px 8px 11px;
  border: 1px solid #bbb;
  margin-right: 25px;
}

.button-forward {
  border: 1px solid #bbb;
  padding: 8px 11px 8px 12px;
  margin-left: 25px;
}

.button-back:hover,
.button-forward:hover {
  background-color: #18cfab;
}

.button-back:hover .button-back-color {
  fill: #fff;
}

.button-forward:hover .button-forward-color {
  fill: #fff;
}

.page-footer {
  background: #22353f;
  padding: 47px 0;
  text-align: center;
}

.page-footer p {
  color: #aeaeae;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.copyright-text {
  color: #18cfab;
}
