.page,
.page-title {
  height: 100%;
}
.page-body {
  margin: 0;
  font-family: sans-serif;
}
.section-logo {
  display: flex;
  text-align: center;
  font-size: 80px;
  text-decoration: none;
  color: #000;
}
.accent-color {
  color: #4bcaff;
}
.menu-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.menu-navbar {
  margin: 0;
  background-color: #35444f;
  width: 100%;
  min-width: 1280px;
}
.menu-item-blank {
  color: #35444f;
  text-decoration: none;
  font-family: sans-serif;
}
.menu-item-blank {
  width: 50px;
}
.list-item {
  line-height: 28px;
  font-size: 24px;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-right: 1px solid #fff;
  align-items: flex-end;
}
.menu-item {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}
.navbar-item:hover {
  background-color: #222f3a;
}

.sidebar {
  border: 1px solid #000;
  display: flex;
  width: 350px;
  margin-right: 52px;
}
.sidebar-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 26px;
  margin-bottom: 30px;
  margin: 0px;
  font-size: 2px;
  line-height: 1px;
}

.sidebar-list-item {
  padding-left: 44px;
  padding-bottom: 52px;
  color: #485863;
}

.sidebar-list-item:hover {
  background-color: #dbdbdb;
  text-align: center;
}

.sidebar-list-item-last {
  padding-bottom: 0px;
}

.sidebar-list-item-link {
  text-decoration: none;
  font-size: 27px;
  line-height: 0px;
}
.content {
  display: flex;
  max-width: 1280px;
}
.image {
  padding: 75px;
  transition: 0.2s;
}
.image:hover {
  scale: 120%;
}
.image-container {
  border: 1px solid #000;
  display: flex;
  justify-content: center;

  margin-bottom: 37px;
}
.main-container {
  margin-top: 50px;
  margin-left: 98px;
}
.paragraph-first {
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 34px;
}

.paragraph-second {
  color: #2c2c2c;
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 54px;
}
.footer {
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);

  min-width: 1280px;
}
.footer-navbar-list {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.footer-navbar-list-item {
  font-size: 28px;
  line-height: 28px;
  padding-right: 1em;
}

.footer-navbar {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 100px;
}
.footer-navbar-list-item-link:hover {
  color: #495863;
  text-decoration: none;
}
.footer-navbar-list-item-link {
  text-decoration: none;
  color: #0c1927;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: end;
}

.item-border {
  height: 69px;
  color: #fff;
  width: 0px;
}
